html{
    position: relative;
}
body{
  background-color:#f5f5f5;
  margin-bottom: 50px;
}
.jumbotron{
    margin-bottom: 0px;;
    margin-top: 20px;;
    /* box-shadow: 0 .125rem .25rem; */
}
.jumbotron img{
    width: 200px;
}
.welcome{
    margin-top: 20px;
}
.welcome .row {
    background-color:white;
}
.row .col-sm-12 h1{
    padding-top: 30px;
}
.row .col-sm-12 hr{
    width: 200px;
    border: 1px solid #666;
}
.row .col-sm-12 p{
    padding-bottom: 20px;
}
.prestasi{
    background-color: #e9ecef;
    margin-top: 20px;
    min-height: 400px;
}
.prestasi img{
   margin: 20px;
}
.prestasi .col-sm-8{
    padding-top: 85px;
    padding-left: 50px;
}
.prestasi .col-sm-8 hr{
    width: 270px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 20px;
}
.photographi{
    background-color: white;
    margin-top: 20px;
    min-height: 400px;
}
.photographi h1{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.photographi .col-sm-8 hr{
    width: 220px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
}
.photographi .col-sm-8 p{
    padding-left: 20px;
}
.photographi .img{
    margin-top: 0px;
}
footer{
    position: absolute;
    margin-left: 9%;
    width: 1110px;
    bottom: 0px;
    height: 50px;
    background-color: gray;
    padding-left: 27%;
    padding-top: 13px;
}
footer p{
    color: white;
}
.prt{
    margin-top: 20px;
    min-height: 450px;
    background-color: white;
}
.prt h1{
    padding-top: 20px;
}
.prt hr{
    margin-bottom: 30px;
}
.prt h4{
    padding-top: 10px;
    color: grey;
}
.photo{
    margin-top: 20px;
    min-height: 450px;
    background-color: #e9ecef;
}
.photo h1{
    padding-top: 20px;
}
.photo hr{
    margin-bottom: 30px;
}
.photo h4{
    padding-top: 10px;
    color: grey;
}
.About{
    background-color: #e9ecef;
    margin-top: 20px;
    min-height: 400px;
}
.About img{
   margin: 20px;
}
.About .col-sm-8{
    padding-top: 85px;
    padding-left: 50px;
}
.About .col-sm-8 hr{
    width: 270px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 20px;
}
.contact{
    margin-top: 20px;
    background-color: white;
    min-height: 600px;
}